
/* settting the dimensions of the app */
.card{
    
    width: 600px;
    height: 600px;
    
}

/* setting the container within the app dimensions */
.outer{
    width: 600px;
    height: 600px;
    padding: 0px;
    
}

/* styling the box */
.inner{
    width: 350px;
    height: 450px;
    margin: auto;
    padding:  30px;
    text-align: center;
    border: 3px;
    border-color: #fff;
    border-style:outset;
}

/* styling the number that would be changing */
.number{
    font-size: 100px;
    color: #228b22;
    font-weight:500;
}
/* changing the color of 'COUNTER' text to white */
h4{
    color: #fff;
    font-size: 35px;
}